<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Word Count</title>
</head>
<body>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis, beatae? Unde, eius ullam. Voluptatum placeat corporis dolorum incidunt, nisi fuga? Quisquam eos fuga porro eligendi quia eaque id dolores a quod repudiandae, nesciunt omnis distinctio hic rerum, eum, deleniti possimus accusamus eveniet. Cumque rem, velit molestiae in magni earum magnam.
</body>
</html>