<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WordCount</title>
</head>
<body>
    <h1>Word Count Application</h1>

    <form action="{% url 'count' %}">
        <h3>Type in Paragragh :</h3>
        <textarea name="fulltext" id="fulltext" cols="50" rows="10"></textarea>
        <br>
        <input type="submit" value="Count!">
    </form>

    <br><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="{% url 'about' %}">About Us</a>
</body>
</html>